/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round");

/* Importing components */
@import url("components/card.css");
@import url("components/navbar.css");


body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}
p {
  font-weight: lighter;
  font-size: 12px;
  color: rgb(151, 151, 151);
}
h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
.padded {
  padding: 30px 0;
}
.main-container{
  display: flex;
}
/* i{
  color: rgba(0, 0, 0, 0.283);
  display: flex;
} */
#footer{
  color: (155, 155, 155, 0.9);
  font-size: 20px;
  text-align: center;
}
#footer a{
  text-decoration: none;
  font-size: 30px;
  margin: 0 20px;
  color: rgba(155, 155, 155, 0.9);
  display: inline-block;
}

#footer a:hover{
  transition: 0.5s;
  transform-style: flat;
  color: rgb(0, 0, 0);
}

#footer ul{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.btn_list li{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}
